<section class="user-list">
  <header>
    <h1 class="h3">Users</h1>
  </header>
  <% if @users.presence %>
  <ol class="list-group">
    <% @users.each do |user| %>
    <li class='list-group-item'>
      <h2><%= user.email %></h2>
      <h3>Created: <%= user.created_at %></h3>
      <h3><%= link_to "Show", user_path(user) %></h3>
    </li>
    <% end %>
  </ol>
  <% else %>
  <h2>No Users found</h2>
  <% end %>
</section>
