<header>
  <h1> Welcome to Telesocia </h1>
  <p class="lead">The Free Phone Book</p>
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">What is Telesocia?</div>
      <summary class="panel-body">
	Have you ever gotten a call from an unknown number and done a
	google search to find out more information about the caller? Have
	you been frustrated when all the links returned are for paid
	services that do reverse phone lookups?  At Telesocia we want to
	use the power of the internet to create the world's largest free,
	user-maintained database of phone number associations. Think of it
	as the global wikipedia of phone books.
      </summary>
    </div>

    <section class="panel panel-default">
      <div class="panel-heading">How does it work?</div>
      <div class="panel-body">
	<p>
	  You create a Telesocia account with your phone number. You
	  associate other accounts (for example your name, twitter,
	  linkedIn, Facebook, e-mail) to your phone number. You select which
	  information should be visible to users when they search for your
	  phone number.
	</p>
	<p>
	  When someone does a search for your phone they see all the
	  information that you decided to share.  As simple as that.
	</p>
      </div>
    </section>

    <section class="panel panel-default">
      <div class="panel-heading">Why would I do this?</div>
      <div class="panel-body">
	<p>
	  Other than to be part of the awesome awesome goal of a global
	  phone-book? 
	</p>
	<p>
	  Your Telesocia information will allow any other Telesocia user
	  to know who you are when you call them. Some people never answer
	  a calls from unknown numbers. Although this is sensible, it
	  could be that they really do know you - they just don't know
	  your number. It could be that you changed your phone number and
	  the new number is no longer in their contact list. It could be
	  you are calling about a job and your Telesocia information
	  shows your linkedIN account showing how awesome you are and
	  prompting the potential employer to offer you gobs of money to
	  get you to work with them.
	</p>
	<p>
	  Basically, Telesocia is a way to let other people find who you
	  are when you are calling - and to let you know who other people
	  are who are calling you. It's a global contact list for the new
	  age! make your tsoci today!
	</p>
      </div>
    </section>
    <section class="panel panel-default">
      <div class="panel-heading">
	What if I value my privacy and I <strong>don't</strong> want my
	information to be shared?
      </div>
      <div class="panel-body">
	<p>
	  We understand. Although we believe sharing your information with
	  the world is an awesome way to get people to know more of you,
	  we know there are people out there who want to keep theinr
	  information private.  That's cool. In your Telesocia account you
	  can mark any and all your information, including your phone
	  number as private - never to be shared.  We will never sell your
	  information and if you put your phone number as private with us
	  we will make sure never to show it as a result of a Telesocia
	  search.
	</p>
      </div>
    </section>
  </div>
</header>
