<header>
  <h1> Welcome to Telesocia </h1>
  <section>
    TODO: Create a dashboard of potential actions (search, add
    association, delete association, show association, etc)
  </section>
</header>
